In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/modified_0413.csv")

,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding,Not Verified,Source Verified,Verified,loan_status
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
2,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
3,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [10]:
df.head()

,Unnamed: 0.1,Unnamed: 0,loan_amnt,term,int_rate,installment,sub_grade,emp_length,annual_inc,dti,...,moving,other,renewable_energy,small_business,vacation,wedding,Not Verified,Source Verified,Verified,loan_status
0,0,0,6000.0,36,7.97,187.94,4,2,45000.0,8.67,...,0,0,0,0,0,0,0,0,1,0
1,1,1,23200.0,60,24.99,680.82,23,10,110000.0,34.70,...,0,0,0,0,0,0,0,0,1,1
2,2,2,16000.0,36,7.07,494.55,1,10,65000.0,17.74,...,0,0,0,0,0,0,1,0,0,1
3,3,3,4500.0,36,10.42,146.10,7,5,50000.0,6.99,...,0,0,0,0,0,0,1,0,0,0
4,4,4,20000.0,36,9.99,645.25,7,10,60000.0,28.94,...,0,0,0,0,0,0,0,1,0,0

In [13]:
df.iloc[:5, 6:8]

   sub_grade  emp_length
0          4           2
1         23          10
2          1          10
3          7           5
4          7          10

In [8]:
df.iloc[0:5, -4:-1]

   Not Verified  Source Verified  Verified
0             0                0         1
1             0                0         1
2             1                0         0
3             1                0         0
4             0                1         0